.container {
  margin-top: 2vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: relative;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fb8500;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #ffb703;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
#submitButton {
  animation: pulse 2s infinite;
  height: 6vh;
  font-size: large;
  font-weight: bold;
}
