#inputWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2vh;
  background-color: rgba(0, 0, 0, 0);
}

#submitButton {
  animation: pulse 2s infinite;
  height: 6vh;
  font-size: large;
  font-weight: bold;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input .MuiOutlinedInput-notchedOutline,
.input .MuiOutlinedInput-notchedOutline:focus {
  border-color: #ffc400;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .inputWrapper {
    padding: 2rem 4rem;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .inputWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}
.container {
  margin-top: 2vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: relative;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #ffc400;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #ffc400;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
