.moviePicker__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.moviePicker__header-links_logo {
  margin-right: 2rem;
}
.moviePicker__header-links_logo img {
  max-height: 50px;
  /* max-width: 62.5px; */
}

@media screen and (max-width: 700px) {
  .moviePicker__header {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .moviePicker__header {
    padding: 2rem;
  }
}
