@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(103.22deg, #ffddd2 -13.86%, #e29578 99.55%);
  --gradient-bar: linear-gradient(103.22deg, #fca311 -13.86%, #e5e5e5 99.55%);

  --color-bg: #14213d;
  --color-footer: #000000;
  --color-text: #ffffff;
  --color-subtext: #ffffff;
}
